bike-list {
    text-align: left;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    [bike-container] {
        width: 100%;
        display: flex;
        cursor: pointer;
        align-items: center;
        border-bottom: 1px solid #efefef;
        div {
            padding: 16px 8px;
        }
        [position] {
            width: 20px;
            align-self: baseline;
            color: #cecece;
        }
        [name] {
            width: 30%;
            padding-left: 20px;
            // min-width: 40%;
        }
        [pic] img {
            max-width: 100px;
            max-height: 100px;
            width: auto;
            height: auto;
        }
        [brand] {
            width: 60px;
            text-align: center;
            img {
                max-width: 50px;
                max-height: 30px;
                width: auto;
                height: auto;
            }
        }
        [score] {
            padding-left: 20px;
            padding-right: 20px;
            // width: 10%;
        }
        [score] span {
            display: block; 
            background-color: #6c3;
            border-radius: 2px;
            color: white;
            width: 32px;
            height: 32px;
            text-align: center;
            line-height: 32px;
        }
        [quote] {
            width: 38%;
            font-weight: 300;
            color: #111;
            font-size: 14px;
        }
    }
    [bike-container]:nth-of-type(2n){
        // background-color: #fafafa;
    }
}