[bike-container] {
    position: fixed;
    top: 12px;
    bottom: 12px;
    left: 12px;
    right: 12px;
    background: #fff;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,.3);
    border-radius: 12px;
}