<small>This is a short quiz created with aim to help to pick you right mountain bike. It’s curated by fans of the sport.</small>
    <h2><a href="/bikes">(Skip it. Just show me the bikes)</a></h2>
    <slides>
        <div #slides>
            <div #slide1 slide>
                <h2>I want a bike for...</h2>
                <div flex-container>
                    <button (click)="selection.type=['basic']; changeSlide()" pink>
                        Family rides
                    </button>
                    <button (click)="selection.type=['xc', 'trail']; changeSlide()" pink>
                        Bikepacking
                    </button>
                    <button (click)="selection.type=['trail', 'enduro']; changeSlide()" pink>
                        Bike park adventures
                    </button>
                    <button (click)="selection.type=['dh']; changeSlide()" pink>
                        Downhill
                    </button>
                    <button (click)="selection.type=['fat']; changeSlide()" pink>
                        Just show me fatties
                    </button>
                </div>
            </div>
            <div #slide2 slide>
                <h2>I would like to spend up to...</h2>
                <input type="text" [ngModel]="selection.maxPrice | currency:'USD':true" (ngModelChange)="maxPrice=$event" money>
                <!-- <input type="range"> -->
                <ion-range-slider #sliderElement
                        type="single"
                        [min]="500"
                        max="5000"
                        from="1000"
                        step="100"
                        decorate_both="false"
                        hide_min_max="true"
                        (onChange)="OnPriceChange($event)"></ion-range-slider>
                <button pink (click)="changeSlide()">OK</button>
            </div>
            <div #slide3 slide> 
                <h2>I also would like it to have a...</h2>
                <div flex-container>
                    <button (click)="selection.carbonFrame = !selection.carbonFrame" select [ngClass]="{'selected': selection.carbonFrame}">
                        Carbon frame
                    </button>
                    <button (click)="selection.dropperPost = !selection.dropperPost" select [ngClass]="{'selected': selection.dropperPost}">
                        Dropper post
                    </button>
                    <button (click)="selection.oneChainring = !selection.oneChainring" select [ngClass]="{'selected': selection.oneChainring}">
                        One chainring system
                    </button>
                    <button (click)="selection.plusTyres = !selection.plusTyres" select [ngClass]="{'selected': selection.plusTyres}">
                        27.5+ tires
                    </button>
                    <button (click)="showResults()" pink>
                        Next
                    </button>
                </div>
                <!-- <h2>I'm from...</h2>
                <div [inlineSVG]="'assets/img/map.svg'" alt="" map></div> -->
            </div>
        </div>
    </slides>