  <div quiz-container [style.minHeight]="window.innerHeight - 54 + 'px'">
    <h1>Pick a bike</h1>
    <router-outlet></router-outlet>    
  </div>
<!-- <data></data> -->
<!-- <bike-list></bike-list> -->

